.textInput {
 width: 362px;
 height: 40px;
 padding: 0 12px;
 margin-bottom: 20px;
 font-size: 16px;
 line-height: 19px;
 border: 1px solid #e0e0e0;
 box-sizing: border-box;
 border-radius: 4px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;

 color: #757575;
}

.textInput:focus {
 box-shadow: 0 0 8px 4px rgba(221, 221, 221, 1);
}

.genderTitle {
 font-weight: 500;
 font-size: 18px;
 line-height: 19px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;
 color: #323232;
}

.genderList {
 display: flex;
 flex-direction: column;
 margin-top: 10px;
}

.genderItem {
 display: flex;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;

 display: flex;
 align-items: center;
 letter-spacing: 0.15px;
 color: rgba(54, 54, 54, 0.87);
 margin-bottom: 18px;
}

.genderItem input {
 margin-right: 16px;
}

.otherGender {
 width: 138px;
 height: 35px;
 border: 1px solid #e5e5e5;
 box-sizing: border-box;
 border-radius: 5px;
 margin-left: 13px;
 padding-left: 12px;
}

select {
 width: 72px;
 height: 40px;
 padding: 0 5px 0 5px;
 border-radius: 5px;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 19px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;
}

.phoneInput {
 width: 280px;
 height: 40px;
 margin-left: 5px;
 margin-bottom: 36px;
 padding-left: 12px;

 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 19px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;
 border: 1px solid #e0e0e0;
 box-sizing: border-box;
 border-radius: 4px;

 color: #757575;
}

.phoneContainer {
 display: flex;
 margin-top: 20px;
}
