body {
 margin: 0;
}

.light {
 color: rgb(5, 5, 5);
 background-color: #fff;
}

.dark {
 color: rgb(243, 220, 220);
 background-color: rgb(9, 1, 54);
}

.List-dt {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 background-color: rgb(20, 2, 82);
}

.List-lt {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 background-color: #fff;
}

.theme {
 height: 40px;
}

.overview-lt {
 color: rgb(0, 0, 0);
}

.overview-dt {
 color: #fff;
}

.title-lt {
 color: rgb(0, 0, 0);
}

.title-dt {
 color: #fff;
}

.popUp {
 width: 200px;
 height: 20px;

 border-radius: 20px;
 display: flex;
 justify-content: space-between;
 padding: 20px;
 position: fixed;
 margin-top: 100px;
 margin-left: 600px;
}

.popUp.light {
 background-color: rgb(238, 240, 126);
}

.popUp.dark {
 background-color: rgb(39, 39, 38);
 color: cornsilk;
}
