.categoryListContainer {
 display: flex;
 flex-direction: column;
 margin-bottom: 34px;
 padding-left: 12px;
 width: 362px;
}

.categoryTitle {
 font-weight: 500;
 font-size: 18px;
 line-height: 19px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;
 color: #323232;
}

.categoryItem {
 margin: 12px 12px 12px 0;

 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;
 display: flex;
 align-items: center;
 letter-spacing: 0.15px;

 color: rgba(54, 54, 54, 0.87);
}

.categoryItem input {
 margin-right: 12px;
}

.passwordInput {
 margin-bottom: 1px;
}

.passwordHelperText {
 width: 359px;
 margin: 0px;
 margin-bottom: 11px;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 20px;
 display: flex;
 align-items: center;
 letter-spacing: 0.4px;

 color: rgba(0, 0, 0, 0.54);
}
