body {
 font-family: sans-serif;
 margin: 0;
 padding: 0;
 background: #c4c4c4;
}

header {
 margin: 0;
 width: 100vh;
 height: 10vh;
 font-size: 25px;
 padding: 10px 0 10px 45%;
}

.filmList {
 display: flex;
 width: 85%;
 max-width: 800px;
 flex-wrap: wrap;
}

.filmList[hidden] {
 display: none;
}

.bookmarksList {
 display: flex;
 width: 85%;
 max-width: 800px;
 height: 100vh;
 flex-wrap: wrap;
}

.bookmarksList[hidden] {
 display: none;
}

.filmItem {
 margin: 5px;
 list-style-type: none;
}

.filmItem p {
 max-width: 185px;
}

.mainContainer {
 display: flex;
 justify-content: center;
 height: 100vh;
}

.loaderContainer {
 display: none;
 align-items: center;
 justify-content: center;
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.7);
}

.loaderContainer.shown {
 display: flex;
 flex-direction: column;
 color: #f3f3f3;
 font-size: 30px;
}

.loaderIcon {
 border: 4px solid #f3f3f3; /* Light grey */
 border-top: 4px solid #3498db; /* Blue */
 border-radius: 50%;
 width: 32px;
 height: 32px;
 animation: spin 2s linear infinite;
}

@keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}
